<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet"href="static/style.css">
    <title>UniAi</title>
</head>
<body>
    <header>
        <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>
        <div class="nav-name border">
            <p><i>UniAi</i></p>
        </div>
            <div class="navsearch">
                <input placeholder="Search Terms" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="Access">
                <ul class="nav-links">
                    <li><a href='#home.html'>Home</a></li>
                     <li><a href='/Courses'>Courses</a></li>
                      <li><a href='/Countries'>Countries</a></li>
                       <li><a href='/Fees'>Fees</a></li>
                </ul>
            </div>
            <div class="nav">
                <i class="fa-solid fa-bars " ></i>
            </div>
            
        </div>
    </header>
    <main>
        <div class="box1img">
        <div class="hero-text">
                <h1>Unlock Global Education with AI</h1>
                <br>
                <br>
                <p>Discover low-cost,high-quality universities worldwide.Powered by AI to find the best scholarships,courses, and career-building certification,courses and career-building certification tailored just for you. </p>
            </div>
            </div>
        
    </main>
    <section>
        <div class="feature">
            <img src="static/icon1.png"alt="scholarships" class="feature-icon">
            <a href="/Scholarships"><h1>Scholarships for going abroad</h1></a>
        </div>
       <div class="feature">
            <img src="static/icon2.jpg.png"alt="Programs" class="feature-icon">
            <a href="/Programs.html"><h1>International Programs</h1></a>
        </div>
        <div class="feature">
            <img src="static/alumni.jpg.png"alt="Alumni" class="feature-icon">
            <a href="'/Alumni"><h1>Alumni</h1></a>
        </div>
        
    </section>
    <footer>
       <section class="research-section">
        <h2>Studies and Research</h2>
        <div class="card-container">
            <div class="card">
                <img src="static/Universities-program.jpg"alt="Ai in education">
                <a href="Universities-program"><p>Universities-program</p></a>
            </div>
            <div class="card">
                <img src="static/sholarship.jpg"alt="Ai in education">
                <a href="scholarship"><p>Scholarships & Funding</p></a>
            </div>
            <div class="card">
                <img src="static/admission-requirements2.jpg"alt="Ai in education">
                <a href="Universities"><p>Requirements & Enrollment</p></a>
            </div>
             <div class="card">
                <img src="static/Abroad.jpg"alt="Ai in education">
                <a href="Abroad"><p>Living in Abroad</p></a>
            </div>
        </div>

       </section>
    </footer>
    <footer>
        <footer class="footer">
            <div class ="footer-content">
                <p> &copy; 2025 Global Universities. All rights are reserved</p>
                <div class="footer-links">
                    <a href="#about">About</a>
                    <a href="#contact">contact</a>
                    <a href="#privacy">Privacy</a>

                
        </footer>
    </footer>
    
</body>
</html>
